
.span {
    text-align: center;
    display: inline-block;
    width: 100%;
  }

table { width: 95%; table-layout: fixed; margin: auto; margin-top: 30px;} 

.th, td { overflow: hidden; width: 90px; text-overflow: ellipsis; white-space: nowrap; }


.upload-button {
    display: flex;
    background-color: #4682b4;
    cursor: pointer;
    justify-content: center;
    margin:0 auto;
    display:block;
}

.instructions{
    font-size: 16px;
    text-align: center;

}

.text-center {
    
    /*text-align: center;*/
    display: inline-block;
    /*justify-content: center;
    margin:0 auto;
    display:block;
    margin: 0 auto;*/
    text-align: center;
    outline-width: 3px;
    outline-style: solid;
    outline-color: #4682b4;
}

.mat-card{
    width:20%;
    min-width: 60px;
    margin-top: 10px;
    margin: 0 auto;
    font-size: large;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    box-sizing: border-box;
    }

    .mat-progress-spinner {
        justify-content: center;
        margin-top: 2vh;
        display: flex;
        margin:0 auto;
      }
 
      input[type="file"]{
        width:90px; /*reduce input width*/
        color: transparent /*text will be there but not visible*/
        }


.container{
    justify-content: center;
    margin-top: 2vh;
    display: flex;
    margin:0 auto;

}

th {
    color: black;
    background-color: rgb(247, 247, 247);
}

.download-button {
    display: flex;
    color:white;
    background-color: #4682b4;
    cursor: pointer;
    justify-content: center;
    margin:0 auto;
    display:block;
}

.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}