
<!--
<div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
-->

<div class="body">
<div class="instructions">
    pDockQ calculation based on <a href="https://www.nature.com/articles/s41467-022-28865-w"> "Improved prediction of protein-protein interactions using AlphaFold2".</a>
    <br>
    You can use <a href="https://colab.research.google.com/github/sokrypton/ColabFold/blob/main/AlphaFold2.ipynb">ColabFold </a> (<a href="https://www.nature.com/articles/s41592-022-01488-1">"ColabFold: making protein folding accessible to all"</a>) to predict a structure of two protein sequences.
    <br>
    Upload a PDB file obtained through prediction to calculate pDockQ and distances between interacting residues.
    <br> 
    Example PDBS :  <a href="https://drive.google.com/drive/u/1/folders/1j7QMQU57h_LcK8HRPTbxCBKextunh3wL"><b>Predictions</b></a>
</div>
<div class="buttons">
    <button class ="upload-button" color="primary" type="button" mat-raised-button (click)="fileInput.click()">Upload PDB</button>
    <input hidden (change)="onChange($event)" #fileInput type="file">
    <!--<span class="file-name">{{file.name}}</span>-->
</div>
  <!--
    <button mat-button color="accent" (click)="onUpload()" 
        class="btn btn-success">
        Calculate pDockQ
    </button>
-->
<div class="container" *ngIf="loading">
    <h3>Processing...</h3>
</div>

<div *ngIf="loading">
    <mat-progress-spinner
class="example-margin"
[color]="color"
[mode]="mode"
[value]="value"
[diameter]="diameter">
</mat-progress-spinner>
</div>

<mat-card 
    *ngIf="message">
    <b>pDockQ: </b>{{pdockQ}}<br>
    <b>ppv: </b> {{ppv}} <br>
    <b>Probable interaction?: </b> {{interaction}}
</mat-card>


    <button class ="download-button" mat-button *ngIf="residues.length>0 && message" (click)="downloadResults()">Download Results </button>


<mat-card 
    *ngIf="error">
    Error: File does not contain two chains.
</mat-card>




<div *ngIf="message">



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort >
  
    <ng-container matColumnDef="pay_01">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pay_01">> Residue 1  </th>
      <td mat-cell *matCellDef="let residues"> {{residues.pay_01}} </td>
    </ng-container>

    <ng-container matColumnDef="pay_02">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pay_02"> Position 1  </th>
      <td mat-cell *matCellDef="let residues"> {{residues.pay_02}} </td>
    </ng-container>

    <ng-container matColumnDef="pay_03">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pay_03"> Confidence 1 </th>
      <td mat-cell *matCellDef="let residues"> {{residues.pay_03}}% </td>
    </ng-container>

    <ng-container matColumnDef="pay_04">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pay_04"> Residue 2 </th>
      <td mat-cell *matCellDef="let residues"> {{residues.pay_04}} </td>
    </ng-container>

    <ng-container matColumnDef="pay_05">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pay_05"> Position 2 </th>
        <td mat-cell *matCellDef="let residues"> {{residues.pay_05}} </td>
      </ng-container>

      <ng-container matColumnDef="pay_06">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pay_06"> Confidence 2 </th>
        <td mat-cell *matCellDef="let residues"> {{residues.pay_06}}% </td>
      </ng-container>

      <ng-container matColumnDef="pay_07">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pay_07"> Distance </th>
        <td mat-cell *matCellDef="let residues"> {{residues.pay_07}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="table_columns"></tr>
      <tr mat-row *matRowDef="let row; columns: table_columns;"></tr>
</table>



</div>


</div>